*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body{
    background: linear-gradient(100px 100px 100px black);
    margin: 70px;
}
.conteiner{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    width: 100%;
    max-width: 460px;
    height: 460px;
    /*border:ridge black;*/
    padding: 20px;
    /*background: linear-gradient(45deg, #0016ff, #ff008d);*/
    /*box-shadow: inset 1px 0px 20px 10px rgba(130, 13, 255, .9);*/
}
.box{
    width: 100%;
    max-width: 300px;
    height: 50px;
    padding: 20px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 100%;
    max-width: 150px;
    height: 150px;
    border-radius: 100%;
    border:ridge rgb(219, 219, 219);
}
.logo img{
    width: 100%;
    border-radius: 100px;
}
.nome{
    font-size: 1.2rem;
    font-weight: 600;
    color:#000000;
}
.box1,.box2,.box3,.box4{
    background: #000000;
}
i{
    font-size: 2rem;    
}
p a{
    font-size: 1.5rem;
    font-weight: 500px;
    text-decoration: none;
    color:rgb(100, 97, 97);
}
p a:hover{
    text-decoration:underline;
    text-decoration-color:white;
    transition: all .5s linear;
    color:rgb(248, 248, 248);
}
.icone{
    padding: 5px;
}
@media screen and (max-width:567px){
    .conteiner{
        max-width:560px;
        height: 560px;
    }

}